<footer class="brand-name container bg-slate-400 flex flex-column mt-2 pt-2gap-6">
  <div class="logo-class flex-none">
    <button [routerLink]="['/']">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
    </button>
  </div>
  <div class="heroes-btn-class flex-initial justify-center align-middle">
    <button
      pButton
      class="bg-violet-500 text-gray-100 hover:bg-sky-400 hover:text-black shadow-lg rounded-md w-32 h-7 text-lg focus:ring-violet-300 light:from-neutral-300 light:focus:outline-none light:focus:ring dark:bg-purple-500 dark:text-white dark:hover:bg-sky-400 dark:hover:text-black"
      [routerLink]="['/heroes']">
      Go to Heroes
    </button>
  </div>
</footer>
