<p-tabView [style]="{ color: 'blue' }">
  <p-tabPanel header="Header I">
    <form form #f="ngForm" [formGroup]="formGroupBuilt" (ngSubmit)="onSubmit()">
      <div formArrayName="cities" class="flex flex-col flex-wrap gap-2">
        @for (city of cities.controls; track cityIndex; let cityIndex = $index) {
          <div class="flex flex-col flex-wrap gap-2" [formGroupName]="cityIndex">
            <div class="flex flex-row flex-wrap gap-4">
              <div class="flex">
                @if (city.controls.cityName.valid) {
                  <p>Value: {{ city.controls.cityName.value }}</p>
                }
              </div>
              <div class="flex basis-full flex-row flex-wrap justify-evenly">
                <div class="flex basis-5/12 flex-grow-1 flex-shrink-1">
                  <label class="flex basis-1/3" for="cityName">Name</label>

                  <input
                    class="flex basis-2/3"
                    pInputText
                    formControlName="cityName"
                    (change)="onChange($event)"
                    id="cityName"
                    name="cityName"
                    type="text" />
                </div>
                <div class="flex basis-5/12 flex-grow-1 flex-shrink-1">
                  <label class="flex basis-1/3" for="age"
                    >Population {{ city.controls.population.value }}</label
                  >
                  <input
                    class="flex basis-2/3"
                    formControlName="population"
                    pInputText
                    id="population"
                    name="population"
                    type="number"
                    required />
                </div>
              </div>
              <p-divider />
              <div class="flex basis-full" style="color: cadetblue">
                <p>City Coordinates</p>
              </div>
              <div
                class="flex basis-full flex-row flex-wrap justify-evenly"
                [formGroup]="city.controls.coordinates">
                <div class="flex basis-5/12 flex-grow-1 flex-shrink-1">
                  <label class="flex basis-1/3" style="color: thistle" for="latitude"
                    >Latitude</label
                  >
                  <input
                    class="flex basis-2/3"
                    formControlName="latitude"
                    pInputText
                    id="latitude"
                    name="latitude"
                    type="text"
                    required />
                </div>
                <div class="flex basis-5/12 flex-grow-1 flex-shrink-1">
                  <label class="flex basis-1/3" style="color: thistle" for="longitude"
                    >longitude</label
                  >
                  <input
                    class="flex basis-2/3"
                    formControlName="longitude"
                    pInputText
                    id="longitude"
                    name="longitude"
                    type="text"
                    (change)="onChange($event)"
                    (focus)="onChange($event)"
                    required />
                </div>
              </div>
            </div>
            <div>
              <p>Form Status: {{ formGroupBuilt.status }}</p>
            </div>
          </div>
        }
      </div>
      <app-buttons (clickEvent)="functioncall($event)" label="Submit"></app-buttons>
    </form>
    <p-divider />
    <div class="flex flex-row">
      <app-buttons (clickEvent)="addNewCity()" label="Add new city"></app-buttons>
    </div>
  </p-tabPanel>
  <p-tabPanel class="bg-slate-600" header="Header II">
    <ng-template pTemplate="content">
      <p>Lorem ipsum dolor sit amet...</p>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel class="bg-slate-700" header="Header III">
    <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
  </p-tabPanel>
</p-tabView>
