<div class="flex flex-row flex-wrap justify-items-center content-evenly gap-4">
  <!-- <h2>{{ hero.name }}</h2> -->
  <p-card header="Hero {{ hero.name | uppercase }}" class="w-1/4 basis-1/4">
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>

    <div><span>Hero id: </span>{{ hero.id }}</div>
    <div>
      <label for="name">Hero name: </label>
      <input id="name" [(ngModel)]="hero.name" placeholder="name" />
    </div>
  </p-card>
</div>
