.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  align-items: center;
  align-content: center;
  /* margin: 30px; */
}

.map-frame {
  border: 2px solid black;
  height: 80%;
}

.map {
  height: 100%;
  min-height: 100%;
}