<h2>Users</h2>
<button
  pButton
  type="button"
  class="bg-violet-500 text-gray-100 hover:bg-sky-400 hover:text-black shadow-lg rounded-md text-lg focus:ring-violet-300 light:from-neutral-300 light:focus:outline-none light:focus:ring dark:bg-purple-500 dark:text-white dark:hover:bg-sky-400 dark:hover:text-black"
  (click)="callBackendAPI()">
  Call backend API
</button>
<div *ngIf="users" class="flex flex-col gap-4">
  <div *ngFor="let user of users" class="flex flex-row gap-4">
    <label for="id">User ID: </label>
    <input id="id" [(ngModel)]="user.id" placeholder="ID" />
    <label for="name">User name: </label>
    <input id="name" [(ngModel)]="user.name" placeholder="name" />
    <label for="email">User email: </label>
    <input id="email" [(ngModel)]="user.email" placeholder="email" />
  </div>
</div>
<p-divider />
<div class="flex flex-col gap-4 w-full">
  <h2>User</h2>
  <button
    pButton
    type="button"
    class="bg-violet-500 text-gray-100 hover:bg-sky-400 hover:text-black shadow-lg rounded-md text-lg focus:ring-violet-300 light:from-neutral-300 light:focus:outline-none light:focus:ring dark:bg-purple-500 dark:text-white dark:hover:bg-sky-400 dark:hover:text-black"
    (click)="getSingleUser()">
    Get single user
  </button>
  <div *ngIf="user" class="flex flex-row gap-4">
    <label for="id">User ID: </label>
    <input id="id" [(ngModel)]="user.id" placeholder="ID" />
    <label for="name">User name: </label>
    <input id="name" [(ngModel)]="user.name" placeholder="name" />
    <label for="email">User email: </label>
    <input id="email" [(ngModel)]="user.email" placeholder="email" />
  </div>
</div>
<p-divider />
<div class="flex flex-col gap-4 w-full">
  <h2>Create User</h2>
  <button
    pButton
    type="button"
    class="bg-violet-500 text-gray-100 hover:bg-sky-400 hover:text-black shadow-lg rounded-md text-lg focus:ring-violet-300 light:from-neutral-300 light:focus:outline-none light:focus:ring dark:bg-purple-500 dark:text-white dark:hover:bg-sky-400 dark:hover:text-black"
    (click)="createUser()">
    Create user
  </button>
  
</div>
